Repository pylint-dev/pylint, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pierre-sassoulas, @DanielNoord, @DudeNr33, @cdce8p

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Right now there is not default owner to avoid spam
# * @pierre-sassoulas @DanielNoord @cdce8p @jacobtylerwalls @hippo91

# Order is important. The last matching pattern has the most precedence.

### Core components

# internal message handling
pylint/message/*    @pierre-sassoulas
tests/message/*    @pierre-sassoulas

# typing
pylint/typing.py     @DanielNoord

# multiprocessing (doublethefish is not yet a contributor with write access)
# pylint/lint/parallel.py @doublethefish
# tests/test_check_parallel.py @doublethefish

### Pyreverse
pylint/pyreverse/*    @DudeNr33
tests/pyreverse/*    @DudeNr33

### Extensions

# CodeStyle
pylint/extensions/code_style.* @cdce8p
tests/functional/ext/code_style/* @cdce8p

# Typing
pylint/extensions/typing.* @cdce8p
tests/functional/ext/typing/* @cdce8p

Fix code
  pylint/checkers/classes/special_methods_checker.py
  pylint/checkers/design_analysis.py
  pylint/checkers/method_args.py
  pylint/testutils/pyreverse.py
Owners: none

Add changes
  pylint/checkers/modified_iterating_checker.py
  pylint/checkers/stdlib.py
  pylint/config/arguments_manager.py
  pylint/config/arguments_provider.py
  pylint/epylint.py
  pylint/extensions/for_any_all.py
  tests/message/unittest_message_definition_store.py
Owners: @pierre-sassoulas

Test fixing regex
  pylint/extensions/overlapping_exceptions.py
  pylint/pyreverse/dot_printer.py
Owners: @DudeNr33

Fix code
  pylint/lint/message_state_handler.py
Owners: none

Testing fixes
  examples/deprecation_checker.py
  pylint/message/message.py
  pylint/reporters/text.py
  tests/config/test_config.py
  tests/lint/unittest_lint.py
Owners: @pierre-sassoulas

Cancel previous tests when pushing to PRs
  .github/workflows/codeql-analysis.yml
  .github/workflows/tests.yaml
Owners: none

Stage changes
  pylint/lint/base_options.py
  pylint/testutils/reporter_for_tests.py
  tests/checkers/base/unittest_multi_naming_style.py
  tests/checkers/unittest_imports.py
  tests/checkers/unittest_spelling.py
  tests/conftest.py
  tests/lint/unittest_lint.py
  tests/primer/test_primer_stdlib.py
  tests/pyreverse/test_main.py
  tests/test_self.py
Owners: @DudeNr33

Cancel previous tests when pushing to PRs
  .github/workflows/codeql-analysis.yml
  .github/workflows/tests.yaml
Owners: none

Test final changes
  pylint/checkers/base_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
  tests/test_func.py
Owners: none

Remove tests for flake8100
  .github/workflows/checks.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/primer-test.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/tests.yaml
Owners: none

Move string over
  tests/test_self.py
Owners: none

Try using slashes
  tests/test_self.py
Owners: none

Update doc/conf.py
  doc/conf.py
Owners: none

Update pylint/checkers/base_checker.py
  pylint/checkers/base_checker.py
Owners: none

Update pylint/checkers/base_checker.py
  pylint/checkers/base_checker.py
Owners: none

Update pylint/checkers/classes/class_checker.py
  pylint/checkers/classes/class_checker.py
Owners: none

Fix invalid type false positive (#8206)
  doc/whatsnew/fragments/8205.false_positive
  pylint/checkers/typecheck.py
  pylint/constants.py
  tests/functional/d/dataclass/dataclass_typecheck.txt
  tests/functional/ext/typing/redundant_typehint_argument.py
  tests/functional/i/isinstance_second_argument.txt
  tests/functional/i/isinstance_second_argument_py310.py
  tests/functional/i/isinstance_second_argument_py310.rc
  tests/functional/i/isinstance_second_argument_py310.txt
Owners: @cdce8p

Fix deprecation warning from astroid 2.15.0
  pylint/checkers/imports.py
  pylint/checkers/typecheck.py
  pylint/pyreverse/inspector.py
  pylint/pyreverse/writer.py
Owners: @DudeNr33

Upgrade astroid to 2.15.0
  doc/whatsnew/fragments/8387.feature
  pyproject.toml
  requirements_test_min.txt
Owners: none

Update doc/whatsnew/fragments/8387.feature
  doc/whatsnew/fragments/8387.feature
Owners: none

Update pylint/pyreverse/inspector.py
  pylint/pyreverse/inspector.py
Owners: @DudeNr33

Try to fix code
  tests/test_self.py
Owners: none

Move back to normal
  tests/test_self.py
Owners: none

Fix invalid type false positive (#8206) (#8386)
  doc/whatsnew/fragments/8205.false_positive
  pylint/checkers/typecheck.py
  pylint/constants.py
  tests/functional/d/dataclass/dataclass_typecheck.txt
  tests/functional/ext/typing/redundant_typehint_argument.py
  tests/functional/i/isinstance_second_argument.txt
  tests/functional/i/isinstance_second_argument_py310.py
  tests/functional/i/isinstance_second_argument_py310.rc
  tests/functional/i/isinstance_second_argument_py310.txt
Owners: @cdce8p

Bump pylint to 2.16.4, update changelog
  doc/whatsnew/2/2.16/index.rst
  doc/whatsnew/fragments/8205.false_positive
  pylint/__pkginfo__.py
  tbump.toml
  towncrier.toml
Owners: none

Bump pylint to 2.16.4, update changelog (#8389)
  doc/whatsnew/2/2.16/index.rst
  doc/whatsnew/fragments/8205.false_positive
  pylint/__pkginfo__.py
  tbump.toml
  towncrier.toml
Owners: none

Switch to normal
  pylint/checkers/refactoring/refactoring_checker.py
Owners: none

Add types to empty_comment.py (Having issue with msgs)
  pylint/extensions/empty_comment.py
Owners: none

Adding Python 3.7 EOL date
  tests/test_self.py
Owners: none

Upgrade to astroid 2.15.0 (#8387)
  doc/whatsnew/fragments/8387.feature
  pylint/checkers/imports.py
  pylint/checkers/typecheck.py
  pylint/pyreverse/inspector.py
  pylint/pyreverse/writer.py
  pyproject.toml
  requirements_test_min.txt
Owners: @DudeNr33

Use UninferableBase instead of Uninferable
  pylint/checkers/async.py
  pylint/checkers/base/basic_checker.py
  pylint/checkers/classes/class_checker.py
  pylint/checkers/classes/special_methods_checker.py
  pylint/checkers/dunder_methods.py
  pylint/checkers/exceptions.py
  pylint/checkers/refactoring/implicit_booleaness_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/stdlib.py
  pylint/checkers/strings.py
  pylint/checkers/typecheck.py
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  pylint/extensions/_check_docs_utils.py
  pylint/extensions/overlapping_exceptions.py
  pylint/pyreverse/diagrams.py
  pylint/pyreverse/inspector.py
Owners: @DudeNr33

Use UninferableBase instead of Uninferable
  pylint/checkers/async.py
  pylint/checkers/base/basic_checker.py
  pylint/checkers/classes/class_checker.py
  pylint/checkers/classes/special_methods_checker.py
  pylint/checkers/dunder_methods.py
  pylint/checkers/exceptions.py
  pylint/checkers/refactoring/implicit_booleaness_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/stdlib.py
  pylint/checkers/strings.py
  pylint/checkers/typecheck.py
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  pylint/extensions/_check_docs_utils.py
  pylint/extensions/overlapping_exceptions.py
  pylint/pyreverse/diagrams.py
  pylint/pyreverse/inspector.py
Owners: @DudeNr33

Add regression test for #5288
  doc/whatsnew/fragments/5288.false_positive
  tests/functional/u/unpacking/unpacking_non_sequence_py310.py
  tests/functional/u/unpacking/unpacking_non_sequence_py310.rc
Owners: none

Add regression test for #5288 (#8385)
  doc/whatsnew/fragments/5288.false_positive
  tests/functional/u/unpacking/unpacking_non_sequence_py310.py
  tests/functional/u/unpacking/unpacking_non_sequence_py310.rc
Owners: none

Bump pylint to 2.17.0, update changelog
  CONTRIBUTORS.txt
  doc/user_guide/checkers/features.rst
  doc/user_guide/configuration/all-options.rst
  doc/user_guide/messages/messages_overview.rst
  doc/whatsnew/2/2.17/index.rst
  doc/whatsnew/fragments/5073.other
  doc/whatsnew/fragments/5288.false_positive
  doc/whatsnew/fragments/6559.new_check
  doc/whatsnew/fragments/6738.feature
  doc/whatsnew/fragments/7081.feature
  doc/whatsnew/fragments/7343.feature
  doc/whatsnew/fragments/7574.false_positive
  doc/whatsnew/fragments/7851.feature
  doc/whatsnew/fragments/7957.feature
  doc/whatsnew/fragments/8102.new_check
  doc/whatsnew/fragments/8125.bugfix
  doc/whatsnew/fragments/8148.bugfix
  doc/whatsnew/fragments/8154.feature
  doc/whatsnew/fragments/8161.bugfix
  doc/whatsnew/fragments/8168.bugfix
  doc/whatsnew/fragments/8185.false_negative
  doc/whatsnew/fragments/8205.false_positive
  doc/whatsnew/fragments/8207.bugfix
  doc/whatsnew/fragments/8252.false_positive
  doc/whatsnew/fragments/8280.false_negative
  doc/whatsnew/fragments/8290.feature
  doc/whatsnew/fragments/8307.bugfix
  doc/whatsnew/fragments/8310.feature
  doc/whatsnew/fragments/8329.other
  doc/whatsnew/fragments/8370.false_positive
  doc/whatsnew/fragments/8387.feature
  examples/pylintrc
  examples/pyproject.toml
  pylint/__pkginfo__.py
  script/.contributors_aliases.json
  tbump.toml
Owners: none

fix broken whitespace
  doc/user_guide/checkers/features.rst
  pylint/checkers/refactoring/refactoring_checker.py
Owners: none

more broken whitespaces
  doc/user_guide/checkers/features.rst
  pylint/checkers/unicode.py
Owners: none

Bump pylint to 2.17.0, update changelog (#8395)
  CONTRIBUTORS.txt
  doc/user_guide/checkers/features.rst
  doc/user_guide/configuration/all-options.rst
  doc/user_guide/messages/messages_overview.rst
  doc/whatsnew/2/2.17/index.rst
  doc/whatsnew/fragments/5073.other
  doc/whatsnew/fragments/5288.false_positive
  doc/whatsnew/fragments/6559.new_check
  doc/whatsnew/fragments/6738.feature
  doc/whatsnew/fragments/7081.feature
  doc/whatsnew/fragments/7343.feature
  doc/whatsnew/fragments/7574.false_positive
  doc/whatsnew/fragments/7851.feature
  doc/whatsnew/fragments/7957.feature
  doc/whatsnew/fragments/8102.new_check
  doc/whatsnew/fragments/8125.bugfix
  doc/whatsnew/fragments/8148.bugfix
  doc/whatsnew/fragments/8154.feature
  doc/whatsnew/fragments/8161.bugfix
  doc/whatsnew/fragments/8168.bugfix
  doc/whatsnew/fragments/8185.false_negative
  doc/whatsnew/fragments/8205.false_positive
  doc/whatsnew/fragments/8207.bugfix
  doc/whatsnew/fragments/8252.false_positive
  doc/whatsnew/fragments/8280.false_negative
  doc/whatsnew/fragments/8290.feature
  doc/whatsnew/fragments/8307.bugfix
  doc/whatsnew/fragments/8310.feature
  doc/whatsnew/fragments/8329.other
  doc/whatsnew/fragments/8370.false_positive
  doc/whatsnew/fragments/8387.feature
  examples/pylintrc
  examples/pyproject.toml
  pylint/__pkginfo__.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/unicode.py
  script/.contributors_aliases.json
  tbump.toml
Owners: none

Proper release date and summary for 2.17.0
  doc/whatsnew/2/2.17/index.rst
Owners: none

Upgrade tbump and the documentation for 3.0.0 dev branch
  doc/whatsnew/3/3.0/index.rst
  pylint/__pkginfo__.py
  tbump.toml
Owners: none
