Repository pylint-dev/pylint, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pierre-sassoulas, @DanielNoord, @DudeNr33, @cdce8p

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Right now there is not default owner to avoid spam
# * @pierre-sassoulas @DanielNoord @cdce8p @jacobtylerwalls @hippo91

# Order is important. The last matching pattern has the most precedence.

### Core components

# internal message handling
pylint/message/*    @pierre-sassoulas
tests/message/*    @pierre-sassoulas

# typing
pylint/typing.py     @DanielNoord

# multiprocessing (doublethefish is not yet a contributor with write access)
# pylint/lint/parallel.py @doublethefish
# tests/test_check_parallel.py @doublethefish

### Pyreverse
pylint/pyreverse/*    @DudeNr33
tests/pyreverse/*    @DudeNr33

### Extensions

# CodeStyle
pylint/extensions/code_style.* @cdce8p
tests/functional/ext/code_style/* @cdce8p

# Typing
pylint/extensions/typing.* @cdce8p
tests/functional/ext/typing/* @cdce8p

Reformat with `black`.
  pylint/checkers/classes/class_checker.py
Owners: none

Update pylint/testutils/_primer/primer_compare_command.py
  pylint/testutils/_primer/primer_compare_command.py
Owners: none

[spelling] Ignore spelling in type/mypy type ignore comments
  pylint/checkers/spelling.py
  tests/checkers/unittest_spelling.py
Owners: none

Stage changes
  pylint/config/config_initialization.py
Owners: none

Changelog
  doc/whatsnew/fragments/8370.false_positive
Owners: none

Changing flake8 to have max-line-length of 115 (#8362)
  examples/deprecation_checker.py
  pylint/checkers/base/basic_checker.py
  pylint/checkers/utils.py
  pylint/config/arguments_provider.py
  pylint/config/config_initialization.py
  pylint/extensions/confusing_elif.py
  pylint/extensions/typing.py
  pylint/lint/run.py
  pylint/reporters/text.py
  pylint/testutils/_primer/primer_compare_command.py
  pylint/testutils/lint_module_test.py
  setup.cfg
  tests/message/unittest_message_definition_store.py
Owners: @cdce8p, @pierre-sassoulas

Update pylint/checkers/classes/class_checker.py
  pylint/checkers/classes/class_checker.py
Owners: none

Update pylint/checkers/classes/class_checker.py
  pylint/checkers/classes/class_checker.py
Owners: none

Fix flake8
  pylint/config/config_initialization.py
Owners: none

[pre-commit] Transition from flake8/autoflake to ruff
  .pre-commit-config.yaml
  doc/data/ruff.toml
  pylint/config/config_initialization.py
  pyproject.toml
  setup.cfg
Owners: none

[spelling] Ignore spelling in type/mypy type ignore comments (#8370)
  doc/whatsnew/fragments/8370.false_positive
  pylint/checkers/spelling.py
  tests/checkers/unittest_spelling.py
Owners: none

[spelling] Ignore spelling in type/mypy type ignore comments (#8370)
  doc/whatsnew/fragments/8370.false_positive
  pylint/checkers/spelling.py
  tests/checkers/unittest_spelling.py
Owners: none

[pre-commit] Transition from flake8/autoflake to ruff (#8372)
  .pre-commit-config.yaml
  doc/data/ruff.toml
  pylint/config/config_initialization.py
  pyproject.toml
  setup.cfg
Owners: none

Move the new code a little further down the method for performance.
  pylint/checkers/classes/class_checker.py
Owners: none

Bump pylint to 2.16.3, update changelog
  doc/whatsnew/2/2.16/index.rst
  doc/whatsnew/fragments/8307.bugfix
  doc/whatsnew/fragments/8370.false_positive
  pylint/__pkginfo__.py
  tbump.toml
  towncrier.toml
Owners: none

Update doc/whatsnew/2/2.16/index.rst
  doc/whatsnew/2/2.16/index.rst
Owners: none

Bump pylint to 2.16.3, update changelog (#8375)
  doc/whatsnew/2/2.16/index.rst
  doc/whatsnew/fragments/8307.bugfix
  doc/whatsnew/fragments/8370.false_positive
  pylint/__pkginfo__.py
  tbump.toml
  towncrier.toml
Owners: none

Move variable to where it is used.
  pylint/checkers/classes/class_checker.py
Owners: none

Accept values of the form ``<class name>.<attribute name>`` for the `exclude-protected` list (#8364)
  doc/whatsnew/fragments/7343.feature
  pylint/checkers/classes/class_checker.py
  tests/functional/p/protected_access.py
  tests/functional/p/protected_access.rc
  tests/functional/p/protected_access.txt
Owners: none

[doc] Add an example for 'missing-format-string-key'
  doc/data/messages/m/missing-format-string-key/bad.py
  doc/data/messages/m/missing-format-string-key/details.rst
Owners: none

[doc] Add an example for 'missing-format-string-key' (#8379)
  doc/data/messages/m/missing-format-string-key/bad.py
  doc/data/messages/m/missing-format-string-key/details.rst
Owners: none

Document ignoring pragmas for calculating line length
  doc/data/messages/l/line-too-long/details.rst
Owners: none

Document ignoring pragmas for calculating line length (#8380)
  doc/data/messages/l/line-too-long/details.rst
Owners: none

Fix code
  .github/workflows/checks.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/primer-test.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/tests.yaml
  pylint/checkers/classes/class_checker.py
  pylint/checkers/modified_iterating_checker.py
  pylint/checkers/similar.py
  pyproject.toml
Owners: none

Revert "Fix code"
  .github/workflows/checks.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/primer-test.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/tests.yaml
  pylint/checkers/classes/class_checker.py
  pylint/checkers/modified_iterating_checker.py
  pylint/checkers/similar.py
  pyproject.toml
Owners: none

Fix code
  .github/workflows/checks.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/primer-test.yaml
  .github/workflows/primer_run_main.yaml
  .github/workflows/tests.yaml
  pyproject.toml
  tests/message/unittest_message_definition.py
  tests/test_self.py
Owners: @pierre-sassoulas

Fix code
  examples/deprecation_checker.py
  pylint/checkers/base/docstring_checker.py
  tests/config/test_argparse_config.py
Owners: none

Fixing mypy error
  pylint/checkers/base/docstring_checker.py
Owners: none

Add changes
  pylint/checkers/modified_iterating_checker.py
  pylint/checkers/similar.py
  pylint/checkers/stdlib.py
  pylint/checkers/variables.py
Owners: none

staging changes
  pylint/checkers/base_checker.py
  tests/config/test_config.py
  tests/pyreverse/test_main.py
Owners: @DudeNr33

Adding more changes
  doc/conf.py
  doc/exts/pylint_options.py
  pylint/checkers/classes/class_checker.py
  tests/config/test_config.py
  tests/pyreverse/test_main.py
  tests/test_func.py
Owners: @DudeNr33

Add changes
  pylint/checkers/__init__.py
  pylint/checkers/base/name_checker/checker.py
  pylint/checkers/classes/class_checker.py
Owners: none

Add changes
  pylint/checkers/non_ascii_names.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/stdlib.py
  pylint/config/arguments_provider.py
  pylint/config/callback_actions.py
Owners: none

Fix code
  pylint/checkers/refactoring/refactoring_checker.py
Owners: none

Changing code back
  pylint/checkers/refactoring/refactoring_checker.py
Owners: none

Testing fix for base_options.py
  pylint/lint/base_options.py
  tests/test_pragma_parser.py
Owners: none

Add changes
  pylint/checkers/classes/special_methods_checker.py
  pylint/checkers/method_args.py
  pylint/checkers/modified_iterating_checker.py
Owners: none

Revert "Add changes"
  pylint/checkers/classes/special_methods_checker.py
  pylint/checkers/method_args.py
  pylint/checkers/modified_iterating_checker.py
Owners: none

Add changes
  pylint/extensions/confusing_elif.py
  pylint/extensions/magic_value.py
Owners: none

Fix code
  tests/extensions/test_private_import.py
Owners: none
