Repository pylint-dev/pylint, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pierre-sassoulas, @DanielNoord, @DudeNr33, @cdce8p

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Right now there is not default owner to avoid spam
# * @pierre-sassoulas @DanielNoord @cdce8p @jacobtylerwalls @hippo91

# Order is important. The last matching pattern has the most precedence.

### Core components

# internal message handling
pylint/message/*    @pierre-sassoulas
tests/message/*    @pierre-sassoulas

# typing
pylint/typing.py     @DanielNoord

# multiprocessing (doublethefish is not yet a contributor with write access)
# pylint/lint/parallel.py @doublethefish
# tests/test_check_parallel.py @doublethefish

### Pyreverse
pylint/pyreverse/*    @DudeNr33
tests/pyreverse/*    @DudeNr33

### Extensions

# CodeStyle
pylint/extensions/code_style.* @cdce8p
tests/functional/ext/code_style/* @cdce8p

# Typing
pylint/extensions/typing.* @cdce8p
tests/functional/ext/typing/* @cdce8p

Add ``inconsistent-mro`` doc example
  doc/data/messages/i/inconsistent-mro/bad.py
  doc/data/messages/i/inconsistent-mro/details.rst
Owners: none

Add ``docstring-first-line-empty`` doc example
  doc/data/messages/d/docstring-first-line-empty/bad.py
  doc/data/messages/d/docstring-first-line-empty/details.rst
  doc/data/messages/d/docstring-first-line-empty/pylintrc
Owners: none

Add ``differing-param-doc`` doc example
  doc/data/messages/d/differing-param-doc/bad.py
  doc/data/messages/d/differing-param-doc/details.rst
  doc/data/messages/d/differing-param-doc/pylintrc
Owners: none

Add ``bad-mcs-classmethod-argument`` doc example
  doc/data/messages/b/bad-mcs-classmethod-argument/bad.py
  doc/data/messages/b/bad-mcs-classmethod-argument/details.rst
  doc/data/messages/b/bad-mcs-classmethod-argument/good.py
Owners: none

Add ``differing-type-doc`` doc example
  doc/data/messages/d/differing-type-doc/bad.py
  doc/data/messages/d/differing-type-doc/details.rst
  doc/data/messages/d/differing-type-doc/good.py
  doc/data/messages/d/differing-type-doc/pylintrc
Owners: none

Add ``bad-mcs-method-argument`` doc example
  doc/data/messages/b/bad-mcs-method-argument/bad.py
  doc/data/messages/b/bad-mcs-method-argument/details.rst
  doc/data/messages/b/bad-mcs-method-argument/good.py
Owners: none

Two tools since we don't support epylint anymore
  README.rst
Owners: none

[doc] Use the real URL address of pylint's read the doc project
  .github/CONTRIBUTING.md
  README.rst
  doc/conf.py
  doc/development_guide/how_tos/custom_checkers.rst
  doc/whatsnew/2/2.9/summary.rst
  pylint/message/_deleted_message_ids.py
  pyproject.toml
  tests/functional/b/bad_option_value.txt
Owners: @pierre-sassoulas

[readme] Add 'ruff', install at the top, paragraph title to permit skimming
  README.rst
Owners: none

Add some too-many-tests
  doc/data/messages/t/too-many-lines/bad.py
  doc/data/messages/t/too-many-lines/details.rst
  doc/data/messages/t/too-many-lines/pylintrc
  doc/data/messages/t/too-many-public-methods/bad.py
  doc/data/messages/t/too-many-public-methods/details.rst
  doc/data/messages/t/too-many-public-methods/pylintrc
Owners: none

Change pylintrc
  doc/data/messages/t/too-many-public-methods/pylintrc
Owners: none

Stage changes
  doc/data/messages/t/too-many-lines/bad.py
  doc/data/messages/t/too-many-public-methods/pylintrc
Owners: none

Fix docs for too-many methods
  doc/data/messages/t/too-many-public-methods/bad.py
  doc/data/messages/t/too-many-public-methods/good.py
Owners: none

Add errors for too-many-locals
  doc/data/messages/t/too-many-locals/bad.py
  doc/data/messages/t/too-many-locals/details.rst
  doc/data/messages/t/too-many-locals/good.py
  doc/data/messages/t/too-many-locals/pylintrc
Owners: none

Fix code
  doc/data/messages/t/too-many-locals/good.py
Owners: none

Fix code
  doc/data/messages/t/too-many-lines/bad.py
  doc/data/messages/t/too-many-lines/good.py
  doc/data/messages/t/too-many-lines/pylintrc
Owners: none

Fix too-many-locals
  doc/data/messages/t/too-many-locals/bad.py
  doc/data/messages/t/too-many-locals/good.py
Owners: none

Removing print(year)
  doc/data/messages/t/too-many-lines/bad.py
Owners: none

Fix invalid type false positive
  pylint/checkers/typecheck.py
  tests/functional/i/isinstance_second_argument_py310.py
  tests/functional/i/isinstance_second_argument_py310.rc
  tests/functional/i/isinstance_second_argument_py310.txt
Owners: none

Remove fp fixed in ruff
  pyproject.toml
Owners: none

Update tests/test_self.py
  tests/test_self.py
Owners: none

Fix crash when an attribute node was used inside an unary op
  doc/whatsnew/fragments/8207.bugfix
  pylint/checkers/refactoring/refactoring_checker.py
  tests/functional/r/regression_02/regression_8207.py
Owners: none

Support Implicit Namespace Packages (PEP 420)
  doc/user_guide/configuration/all-options.rst
  doc/user_guide/usage/run.rst
  doc/whatsnew/fragments/8154.feature
  examples/pylintrc
  pylint/config/argument.py
  pylint/config/option.py
  pylint/lint/__init__.py
  pylint/lint/base_options.py
  pylint/lint/expand_modules.py
  pylint/lint/parallel.py
  pylint/lint/pylinter.py
  pylint/lint/utils.py
  pylint/pyreverse/main.py
  pylint/testutils/pyreverse.py
  tests/lint/unittest_expand_modules.py
  tests/lint/unittest_lint.py
  tests/primer/packages_to_prime.json
  tests/pyreverse/conftest.py
  tests/pyreverse/functional/class_diagrams/namespaces/pep420/pep420.dot
  tests/pyreverse/functional/class_diagrams/namespaces/pep420/pep420.mmd
  tests/pyreverse/functional/class_diagrams/namespaces/pep420/pep420.puml
  tests/pyreverse/functional/class_diagrams/namespaces/pep420/pep420.py
  tests/pyreverse/functional/class_diagrams/namespaces/pep420/pep420.rc
  tests/pyreverse/test_main.py
  tests/pyreverse/test_pyreverse_functional.py
  tests/regrtest_data/pep420/basic/project/namespace/package/__init__.py
  tests/regrtest_data/pep420/wrapper/project/namespace/package/logging/__init__.py
  tests/regrtest_data/pep420/wrapper/project/namespace/package/logging/wrapper/__init__.py
  tests/test_check_parallel.py
  tests/test_deprecation.py
Owners: @DudeNr33

Update pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
Owners: none

fix primer shown bug
  pylint/extensions/kwargs.py
Owners: none

Got default kwargs for funcs but not for classdef
  pylint/extensions/kwargs.py
  tests/functional/ext/keyword/missing_keyword_arg.py
  tests/functional/ext/keyword/missing_keyword_arg.txt
Owners: none

do not raise msg for functions with args/kwargs
  pylint/extensions/kwargs.py
  tests/functional/ext/keyword/missing_keyword_arg.py
Owners: none

change check name
  doc/whatsnew/fragments/385.new_check
  pylint/extensions/kwargs.py
  tests/functional/ext/keyword/missing_keyword_arg.py
  tests/functional/ext/keyword/missing_keyword_arg.txt
Owners: none

added default kwargs to class types
  pylint/extensions/kwargs.py
  tests/functional/ext/keyword/missing_keyword_arg.py
  tests/functional/ext/keyword/missing_keyword_arg.txt
Owners: none

fix review suggestions
  doc/data/messages/c/consider-using-keyword-argument/bad.py
  doc/data/messages/c/consider-using-keyword-argument/good.py
Owners: none

Apply suggestions from code review
  doc/data/messages/c/consider-using-keyword-argument/bad.py
  doc/data/messages/c/consider-using-keyword-argument/good.py
  pylint/extensions/kwargs.py
Owners: none

add docs
  doc/data/messages/c/consider-using-keyword-argument/bad.py
  doc/data/messages/c/consider-using-keyword-argument/good.py
  doc/data/messages/c/consider-using-keyword-argument/pylintrc
  doc/user_guide/checkers/extensions.rst
  doc/user_guide/messages/messages_overview.rst
Owners: none

check type
  pylint/extensions/kwargs.py
Owners: none

handle unboundmethod
  pylint/extensions/kwargs.py
Owners: none

new check missing-keyword-arg
  doc/whatsnew/fragments/385.new_check
  pylint/extensions/kwargs.py
  tests/functional/ext/keyword/missing_keyword_arg.py
  tests/functional/ext/keyword/missing_keyword_arg.rc
  tests/functional/ext/keyword/missing_keyword_arg.txt
Owners: none

add test for coverage
  tests/functional/ext/keyword/missing_keyword_arg.py
Owners: none

do not raise msg if slots is used
  doc/user_guide/checkers/extensions.rst
  pylint/extensions/kwargs.py
  tests/functional/ext/keyword/missing_keyword_arg.py
  tests/functional/ext/keyword/missing_keyword_arg.txt
Owners: none

only emit one msg
  doc/data/messages/c/consider-using-keyword-argument/bad.py
  doc/user_guide/checkers/extensions.rst
  pylint/extensions/kwargs.py
  tests/functional/ext/keyword/missing_keyword_arg.py
  tests/functional/ext/keyword/missing_keyword_arg.txt
Owners: none

Fix code
  doc/data/messages/t/too-many-lines/bad.py
  doc/data/messages/t/too-many-public-methods/bad.py
Owners: none

Fix code
  doc/data/messages/t/too-many-lines/bad.py
Owners: none
