Repository pylint-dev/pylint, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pierre-sassoulas, @DanielNoord, @DudeNr33, @cdce8p

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Right now there is not default owner to avoid spam
# * @pierre-sassoulas @DanielNoord @cdce8p @jacobtylerwalls @hippo91

# Order is important. The last matching pattern has the most precedence.

### Core components

# internal message handling
pylint/message/*    @pierre-sassoulas
tests/message/*    @pierre-sassoulas

# typing
pylint/typing.py     @DanielNoord

# multiprocessing (doublethefish is not yet a contributor with write access)
# pylint/lint/parallel.py @doublethefish
# tests/test_check_parallel.py @doublethefish

### Pyreverse
pylint/pyreverse/*    @DudeNr33
tests/pyreverse/*    @DudeNr33

### Extensions

# CodeStyle
pylint/extensions/code_style.* @cdce8p
tests/functional/ext/code_style/* @cdce8p

# Typing
pylint/extensions/typing.* @cdce8p
tests/functional/ext/typing/* @cdce8p

Add support for more than one code file in the documentation examples
  doc/exts/pylint_messages.py
Owners: none

Don't clear the FunctionalTestReporter.messages after each file
  pylint/testutils/reporter_for_tests.py
Owners: none

Allow testing of a directory of documentation examples
  doc/test_messages_documentation.py
Owners: none

Update doc/whatsnew/fragments/8290.feature
  doc/whatsnew/fragments/8290.feature
Owners: none

Apply suggestions from code review
  .pre-commit-config.yaml
Owners: none

Apply suggestions from code review
  pylint/checkers/dataclass_checker.py
Owners: none

Adding documentation for too-many-lines Co-authored-by: Daniël van Noord <@DanielNoord>
  doc/data/messages/d/duplicate-code/details.rst
  doc/data/messages/t/too-many-lines/bad/apple.py
  doc/data/messages/t/too-many-lines/bad/orange.py
  doc/data/messages/t/too-many-lines/bad/pylintrc
  doc/data/messages/t/too-many-lines/good/apple.py
  doc/data/messages/t/too-many-lines/good/fruit.py
  doc/data/messages/t/too-many-lines/good/orange.py
  doc/data/messages/t/too-many-lines/pylintrc
Owners: none

Fixing code
  doc/data/messages/t/too-many-lines/bad/bad.py
  doc/data/messages/t/too-many-lines/bad/pylintrc
Owners: none

Remove unnecessary files
  doc/data/messages/t/too-many-lines/details.rst
  doc/data/messages/t/too-many-lines/good.py
Owners: none

Support globbing patterns for source-roots (#8281)
  doc/whatsnew/fragments/8290.feature
  pylint/config/argument.py
  pylint/config/option.py
  pylint/lint/base_options.py
  pylint/pyreverse/main.py
  tests/lint/unittest_lint.py
Owners: @DudeNr33

Add deleting non-ascii-file-name
  pylint/message/_deleted_message_ids.py
Owners: @pierre-sassoulas

Fixed message in deletedMessages
  pylint/message/_deleted_message_ids.py
Owners: @pierre-sassoulas

Fixed issue and changed too-many-lines
  doc/data/messages/d/duplicate-code/details.rst
  doc/data/messages/t/too-many-lines/bad.py
  doc/data/messages/t/too-many-lines/bad/apple.py
  doc/data/messages/t/too-many-lines/bad/bad.py
  doc/data/messages/t/too-many-lines/details.rst
  doc/data/messages/t/too-many-lines/good.py
  doc/data/messages/t/too-many-lines/good/apple.py
  doc/data/messages/t/too-many-lines/good/fruit.py
  doc/data/messages/t/too-many-lines/good/orange.py
Owners: none

Revert "Fixed message in deletedMessages"
  pylint/message/_deleted_message_ids.py
Owners: @pierre-sassoulas

Revert "Add deleting non-ascii-file-name"
  pylint/message/_deleted_message_ids.py
Owners: @pierre-sassoulas

Adding non-ascii-file-name to deletedMessages
  pylint/message/_deleted_message_ids.py
Owners: @pierre-sassoulas

multi file example
  doc/data/messages/t/too-many-lines/bad.py
  doc/data/messages/t/too-many-lines/good/__init__.py
  doc/data/messages/t/too-many-lines/good/is_palindrome.py
  doc/data/messages/t/too-many-lines/good/main.py
Owners: none

Apply suggestions from code review
  doc/data/messages/t/too-many-lines/bad.py
  doc/data/messages/t/too-many-lines/details.rst
  doc/data/messages/t/too-many-lines/good/is_palindrome.py
  doc/data/messages/t/too-many-lines/good/main.py
Owners: none

formatting
  doc/data/messages/t/too-many-lines/bad.py
  doc/data/messages/t/too-many-lines/good/__init__.py
  doc/data/messages/t/too-many-lines/good/is_palindrome.py
  doc/data/messages/t/too-many-lines/good/main.py
Owners: none

equivalent api
  doc/data/messages/t/too-many-lines/good/__init__.py
Owners: none

simplify code in good.py
  doc/data/messages/t/too-many-lines/good/is_palindrome.py
Owners: none

simplify good again
  doc/data/messages/t/too-many-lines/good/main.py
Owners: none

Add documentation for 'too-many-lines' (#8323)
  doc/data/messages/t/too-many-lines/bad.py
  doc/data/messages/t/too-many-lines/details.rst
  doc/data/messages/t/too-many-lines/good.py
  doc/data/messages/t/too-many-lines/good/__init__.py
  doc/data/messages/t/too-many-lines/good/is_palindrome.py
  doc/data/messages/t/too-many-lines/good/main.py
  doc/data/messages/t/too-many-lines/pylintrc
Owners: none

Adding changelog
  doc/whatsnew/fragments/8324.non_ascii
Owners: none

Documentation: Order of messages
  doc/exts/pylint_messages.py
Owners: none

"Message emitted" improvements caused issues
  pylint/checkers/stdlib.py
  tests/functional/s/shallow_copy_environ.txt
Owners: none

Documentation: Order of messages
  doc/exts/pylint_messages.py
Owners: none

"Message emitted" improvements caused issues
  pylint/checkers/stdlib.py
  tests/functional/s/shallow_copy_environ.txt
Owners: none

Removed documentation for non-ascii-file-name
  doc/user_guide/checkers/features.rst
  doc/user_guide/messages/messages_overview.rst
  pylint/checkers/non_ascii_names.py
  tests/functional/n/non_ascii_name/non_ascii_name_loł.py
  tests/functional/n/non_ascii_name/non_ascii_name_loł.txt
Owners: none

Changed name of fragment
  doc/whatsnew/fragments/8324.non_ascii_file_name
Owners: none

Add version guard to non-ascii-file-name
  doc/data/messages/n/non-ascii-file-name/pylintrc
Owners: none

Revert "Removed documentation for non-ascii-file-name"
  doc/user_guide/checkers/features.rst
  doc/user_guide/messages/messages_overview.rst
  pylint/checkers/non_ascii_names.py
  tests/functional/n/non_ascii_name/non_ascii_name_loł.py
  tests/functional/n/non_ascii_name/non_ascii_name_loł.txt
Owners: none

Reverted other changes to the code
  doc/whatsnew/fragments/8324.non_ascii_file_name
  pylint/message/_deleted_message_ids.py
Owners: @pierre-sassoulas

[PR documentation] Add advice to keep the pull requests small
  .github/PULL_REQUEST_TEMPLATE.md
  doc/development_guide/contributor_guide/contribute.rst
Owners: none

Add more links to description
  doc/data/messages/n/non-ascii-file-name/good.py
  doc/user_guide/checkers/features.rst
  pylint/checkers/non_ascii_names.py
Owners: none

[doc] Add an example for suppressed-message
  doc/data/messages/s/suppressed-message/bad.py
  doc/data/messages/s/suppressed-message/details.rst
  doc/data/messages/s/suppressed-message/good.py
  doc/test_messages_documentation.py
Owners: none

Apply suggestions from code review
  .github/PULL_REQUEST_TEMPLATE.md
  doc/development_guide/contributor_guide/contribute.rst
Owners: none

Add another example
  doc/data/messages/s/suppressed-message/bad.py
  doc/data/messages/s/suppressed-message/good.py
  doc/test_messages_documentation.py
Owners: none

[doc] Add an example for suppressed-message (#8328)
  doc/data/messages/s/suppressed-message/bad.py
  doc/data/messages/s/suppressed-message/details.rst
  doc/data/messages/s/suppressed-message/good.py
Owners: none

Reverting code
  doc/user_guide/checkers/features.rst
Owners: none
