Repository pylint-dev/pylint, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pierre-sassoulas, @DanielNoord, @DudeNr33, @cdce8p

Fixing code
  pylint/testutils/_primer/primer_compare_command.py
Owners: none

Working on new_non_astroid_messages
  pylint/testutils/_primer/primer_compare_command.py
Owners: none

Fixing other flake8 issues
  doc/conf.py
  doc/exts/pylint_options.py
  examples/deprecation_checker.py
  tests/checkers/base/unittest_multi_naming_style.py
  tests/checkers/unittest_imports.py
  tests/checkers/unittest_spelling.py
  tests/config/test_argparse_config.py
  tests/config/test_config.py
  tests/conftest.py
  tests/extensions/test_private_import.py
  tests/lint/unittest_lint.py
  tests/message/unittest_message_definition.py
  tests/message/unittest_message_definition_store.py
  tests/primer/test_primer_stdlib.py
  tests/pyreverse/test_main.py
  tests/test_func.py
  tests/test_pragma_parser.py
  tests/test_self.py
Owners: @pierre-sassoulas, @DudeNr33

Fix code
  doc/exts/pylint_options.py
  pylint/checkers/__init__.py
  pylint/checkers/utils.py
  pylint/config/callback_actions.py
  tests/test_func.py
Owners: none

Fixing non-line length issues
  pylint/checkers/__init__.py
  pylint/checkers/base/docstring_checker.py
  pylint/checkers/base/name_checker/checker.py
  pylint/checkers/similar.py
  pylint/checkers/stdlib.py
  pylint/checkers/utils.py
  tests/primer/test_primer_stdlib.py
  tests/pyreverse/test_main.py
  tests/test_func.py
Owners: @DudeNr33

Fix last unused type error
  pylint/checkers/base/docstring_checker.py
Owners: none

Fix code
  pylint/checkers/base/docstring_checker.py
Owners: none

[spelling chacker] Better help message and code organization
  pylint/checkers/spelling.py
  tests/checkers/unittest_spelling.py
Owners: none

Use the proper skip and separation in tests
  tests/checkers/unittest_spelling.py
Owners: none

Add pragma no cover
  pylint/checkers/spelling.py
Owners: none

Testing new change
  pylint/checkers/base/docstring_checker.py
Owners: none

Update doc/conf.py
  doc/conf.py
Owners: none

Testing change to check_docstring
  pylint/checkers/base/docstring_checker.py
Owners: none

Trying to fix value
  pylint/checkers/base_checker.py
Owners: none

[spelling checker] Better help message and code organization (#8338)
  pylint/checkers/spelling.py
  tests/checkers/unittest_spelling.py
Owners: none

Revert "[spelling checker] Better help message and code organization (#8338)"
  pylint/checkers/spelling.py
  tests/checkers/unittest_spelling.py
Owners: none

Trying to fix code
  doc/exts/pylint_options.py
  pylint/checkers/__init__.py
  pylint/checkers/base/name_checker/checker.py
  pylint/checkers/similar.py
  pylint/checkers/stdlib.py
  pylint/checkers/utils.py
  tests/pyreverse/test_main.py
Owners: @DudeNr33

Fix three values
  pylint/checkers/__init__.py
  pylint/checkers/base/name_checker/checker.py
  pylint/checkers/similar.py
Owners: none

Moving # type comments
  doc/exts/pylint_options.py
  pylint/checkers/stdlib.py
  pylint/checkers/utils.py
  tests/pyreverse/test_main.py
Owners: @DudeNr33

Add changes
  doc/exts/pylint_options.py
  pylint/checkers/utils.py
  pylint/config/callback_actions.py
Owners: none

Add changes
  doc/exts/pylint_options.py
Owners: none

Trying to fix code
  doc/exts/pylint_options.py
  tests/primer/test_primer_stdlib.py
  tests/test_func.py
Owners: none

Fix code (for real)
  pylint/config/callback_actions.py
  tests/primer/test_primer_stdlib.py
Owners: none

Fixing having EOL in comment
  pylint/testutils/pyreverse.py
Owners: none

Fixing comments
  pylint/checkers/base_checker.py
  pylint/checkers/classes/class_checker.py
  pylint/checkers/classes/special_methods_checker.py
  tests/test_func.py
Owners: none

Changing flake8 to have max-line-length of 115
  setup.cfg
Owners: none

Improve 'or [arg]' comments
  pylint/config/config_initialization.py
Owners: none

pre-commit works
  examples/deprecation_checker.py
  pylint/checkers/base/basic_checker.py
  pylint/checkers/utils.py
  pylint/config/arguments_provider.py
  pylint/extensions/confusing_elif.py
  pylint/extensions/typing.py
  pylint/lint/run.py
  pylint/reporters/text.py
  pylint/testutils/_primer/primer_compare_command.py
  pylint/testutils/lint_module_test.py
  tests/message/unittest_message_definition_store.py
Owners: @cdce8p, @pierre-sassoulas

Removing extra space
  pylint/checkers/base/basic_checker.py
Owners: none

Working on strings
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/extensions/overlapping_exceptions.py
  pylint/lint/base_options.py
  pylint/pyreverse/dot_printer.py
  pylint/testutils/_primer/primer_compare_command.py
Owners: @DudeNr33

Adding more types
  tests/functional/r/regression_02/regression_5244.py
  tests/functional/r/regression_02/regression_8109.py
  tests/functional/s/statement_without_effect_py36.py
  tests/functional/s/string/string_formatting.py
  tests/functional/s/super/super_checks.py
  tests/functional/s/super/super_init_not_called_extensions.py
  tests/functional/s/super/super_init_not_called_extensions_py310.py
  tests/functional/s/super/super_with_arguments.py
  tests/functional/t/too/too_few_public_methods.py
  tests/functional/t/too/too_many_instance_attributes.py
  tests/functional/u/useless/useless_parent_delegation.py
  tests/functional/w/with_using_generator.py
  tests/input/similar_lines_b.py
  tests/pyreverse/functional/class_diagrams/attributes/delayed_external_monkey_patching.py
  tests/pyreverse/functional/class_diagrams/attributes/instance_attributes.py
  tests/pyreverse/functional/class_diagrams/colorized_output/colorized.py
  tests/pyreverse/functional/class_diagrams/colorized_output/custom_colors.py
  tests/regrtest_data/classdoc_usage.py
  tests/regrtest_data/func_block_disable_msg.py
  tests/regrtest_data/max_inferable_limit_for_classes/main.py
Owners: none

Working on fixing functions
  pylint/testutils/lint_module_test.py
  tests/checkers/unittest_similar.py
  tests/input/similar_lines_b.py
Owners: none

Revert "Working on fixing functions"
  pylint/testutils/lint_module_test.py
  tests/checkers/unittest_similar.py
  tests/input/similar_lines_b.py
Owners: none

Staging changes
  tests/functional/s/super/super_init_not_called.py
Owners: none

Accept values of the form ``<class name>.<attribute name>`` for the ``exclude-protected`` list.
  doc/whatsnew/fragments/7343.feature
  pylint/checkers/classes/class_checker.py
  tests/functional/p/protected_access.py
  tests/functional/p/protected_access.rc
  tests/functional/p/protected_access.txt
Owners: none

Reformat code and run inference after some of the other checks to reduce the likelihood of having the need to call the expensive inference function.
  pylint/checkers/classes/class_checker.py
Owners: none

Support globbing pattern for input specification (#8312)
  .pyenchant_pylint_custom_dict.txt
  doc/user_guide/usage/run.rst
  doc/whatsnew/fragments/8310.feature
  pylint/config/config_initialization.py
  tests/lint/unittest_lint.py
  tests/test_self.py
Owners: none

Revert "Reformat code and run inference after some of the other checks to reduce the likelihood of having the need to call the expensive inference function."
  pylint/checkers/classes/class_checker.py
Owners: none

Refactor the `_check_protected_attribute_access` method to reduce indentation.
  pylint/checkers/classes/class_checker.py
Owners: none

Refactor the `_check_protected_attribute_access` method to reduce indentation. (#8366)
  pylint/checkers/classes/class_checker.py
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Right now there is not default owner to avoid spam
# * @pierre-sassoulas @DanielNoord @cdce8p @jacobtylerwalls @hippo91

# Order is important. The last matching pattern has the most precedence.

### Core components

# internal message handling
pylint/message/*    @pierre-sassoulas
tests/message/*    @pierre-sassoulas

# typing
pylint/typing.py     @DanielNoord

# multiprocessing (doublethefish is not yet a contributor with write access)
# pylint/lint/parallel.py @doublethefish
# tests/test_check_parallel.py @doublethefish

### Pyreverse
pylint/pyreverse/*    @DudeNr33
tests/pyreverse/*    @DudeNr33

### Extensions

# CodeStyle
pylint/extensions/code_style.* @cdce8p
tests/functional/ext/code_style/* @cdce8p

# Typing
pylint/extensions/typing.* @cdce8p
tests/functional/ext/typing/* @cdce8p
