Repository pylint-dev/pylint, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pierre-sassoulas, @DanielNoord, @DudeNr33, @cdce8p

Apply suggestions from code review
  script/check_newsfragments.py
  tests/checkers/unittest_utils.py
Owners: none

Fixing some too long lines (#8339)
  pylint/checkers/base/name_checker/naming_style.py
  pylint/checkers/classes/class_checker.py
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/similar.py
  pylint/checkers/unicode.py
  pylint/config/config_file_parser.py
  pylint/extensions/confusing_elif.py
  pylint/extensions/private_import.py
  pylint/lint/pylinter.py
  pylint/reporters/text.py
  script/check_newsfragments.py
  setup.cfg
  tests/checkers/unittest_utils.py
  tests/config/test_config.py
  tests/config/test_functional_config_loading.py
  tests/test_self.py
  tests/test_similar.py
Owners: none

Update self in .contributors_aliases.json
  script/.contributors_aliases.json
Owners: none

Update self in .contributors_aliases.json (#8344)
  script/.contributors_aliases.json
Owners: none

Improve docs about globbing support
  doc/user_guide/usage/run.rst
Owners: none

Documentation: add example good/bad cases for implicit-flag-alias check
  doc/data/messages/i/implicit-flag-overlap/bad.py
  doc/data/messages/i/implicit-flag-overlap/good.py
Owners: none

Fixup: rename good/bad 'implicit-flag-alias' documentation example files
  doc/data/messages/i/implicit-flag-alias/bad.py
  doc/data/messages/i/implicit-flag-alias/good.py
Owners: none

Documentation: update 'implicit-flag-alias' check examples to provide comparative good/bad cases
  doc/data/messages/i/implicit-flag-alias/bad.py
Owners: none

Add new check "implicit-flag-alias" (#8345)
  doc/data/messages/i/implicit-flag-alias/bad.py
  doc/data/messages/i/implicit-flag-alias/good.py
  doc/whatsnew/fragments/8102.new_check
  pylint/checkers/classes/class_checker.py
  tests/functional/i/implicit/implicit_flag_alias.py
  tests/functional/i/implicit/implicit_flag_alias.txt
Owners: none

[test] Permits to debug more easily 'test_allow_reexport_package'
  tests/checkers/unittest_imports.py
Owners: none

Commit
  setup.cfg
Owners: none

Add changes to pylint for max-line-length = 115
  pylint/checkers/base/basic_checker.py
  pylint/config/arguments_provider.py
  pylint/extensions/confusing_elif.py
  pylint/extensions/typing.py
  pylint/lint/run.py
  pylint/reporters/text.py
  pylint/testutils/_primer/primer_compare_command.py
  pylint/testutils/lint_module_test.py
Owners: @cdce8p

Changing to 110
  setup.cfg
Owners: none

Revert "Changing to 110"
  setup.cfg
Owners: none

[test] Permits to debug more easily 'test_allow_reexport_package' (#8347)
  tests/checkers/unittest_imports.py
Owners: none

[test] Permits to debug more easily 'test_allow_reexport_package' (#8347)
  tests/checkers/unittest_imports.py
Owners: none

Fixing code
  pylint/extensions/typing.py
  pylint/reporters/text.py
  pylint/testutils/_primer/primer_compare_command.py
Owners: @cdce8p

Add new checker `bad-chained-comparison` (#7990)
  doc/data/messages/b/bad-chained-comparison/bad.py
  doc/data/messages/b/bad-chained-comparison/good.py
  doc/data/messages/b/bad-chained-comparison/related.rst
  doc/user_guide/checkers/features.rst
  doc/user_guide/messages/messages_overview.rst
  doc/whatsnew/fragments/6559.new_check
  pylint/checkers/bad_chained_comparison.py
  tests/functional/b/bad_chained_comparison.py
  tests/functional/b/bad_chained_comparison.txt
  tests/functional/c/consider/consider_iterating_dictionary.py
  tests/functional/ext/set_membership/use_set_membership.py
Owners: none

Add ``invalid-name`` check for ``TypeAlias`` names
  doc/data/messages/i/invalid-name/details.rst
  pylint/checkers/base/name_checker/checker.py
  pylint/checkers/base/name_checker/naming_style.py
  pylint/constants.py
  pylint/utils/linterstats.py
  tests/functional/ext/typing/typing_broken_callable.py
  tests/functional/ext/typing/typing_broken_callable_deprecated_alias.py
  tests/functional/ext/typing/typing_broken_callable_future_import.py
  tests/functional/ext/typing/typing_broken_noreturn.py
  tests/functional/ext/typing/typing_broken_noreturn.txt
  tests/functional/ext/typing/typing_broken_noreturn_future_import.py
  tests/functional/ext/typing/typing_broken_noreturn_future_import.txt
  tests/functional/ext/typing/typing_broken_noreturn_py372.py
  tests/functional/r/regression_02/regression_3979.py
  tests/functional/t/typealias_naming_style_default.py
  tests/functional/t/typealias_naming_style_default.rc
  tests/functional/t/typealias_naming_style_default.txt
  tests/functional/t/typealias_naming_style_rgx.py
  tests/functional/t/typealias_naming_style_rgx.rc
  tests/functional/t/typealias_naming_style_rgx.txt
  tests/lint/test_caching.py
Owners: @cdce8p

Add fragment
  doc/whatsnew/fragments/7081.feature
Owners: none

Fix style of recently merged commit
  pylint/checkers/bad_chained_comparison.py
Owners: none

Change number of new message
  doc/user_guide/checkers/features.rst
  pylint/checkers/bad_chained_comparison.py
Owners: none

Add ``invalid-name`` check for ``TypeAlias`` names (#7116)
  doc/data/messages/i/invalid-name/details.rst
  doc/user_guide/checkers/features.rst
  doc/whatsnew/fragments/7081.feature
  pylint/checkers/bad_chained_comparison.py
  pylint/checkers/base/name_checker/checker.py
  pylint/checkers/base/name_checker/naming_style.py
  pylint/constants.py
  pylint/utils/linterstats.py
  tests/functional/ext/typing/typing_broken_callable.py
  tests/functional/ext/typing/typing_broken_callable_deprecated_alias.py
  tests/functional/ext/typing/typing_broken_callable_future_import.py
  tests/functional/ext/typing/typing_broken_noreturn.py
  tests/functional/ext/typing/typing_broken_noreturn.txt
  tests/functional/ext/typing/typing_broken_noreturn_future_import.py
  tests/functional/ext/typing/typing_broken_noreturn_future_import.txt
  tests/functional/ext/typing/typing_broken_noreturn_py372.py
  tests/functional/r/regression_02/regression_3979.py
  tests/functional/t/typealias_naming_style_default.py
  tests/functional/t/typealias_naming_style_default.rc
  tests/functional/t/typealias_naming_style_default.txt
  tests/functional/t/typealias_naming_style_rgx.py
  tests/functional/t/typealias_naming_style_rgx.rc
  tests/functional/t/typealias_naming_style_rgx.txt
  tests/lint/test_caching.py
Owners: @cdce8p

Fixing code
  examples/deprecation_checker.py
Owners: none

[test] Use an empty pylintrc so tests to not depend on system's conf
  tests/checkers/unittest_imports.py
  tests/config/pylint_config/test_pylint_config_generate.py
  tests/config/test_per_directory_config.py
  tests/test_pylint_runners.py
Owners: none

Update tests/checkers/unittest_imports.py
  tests/checkers/unittest_imports.py
Owners: none

[test] Use an empty pylintrc so tests to not depend on system's conf (#8350)
  tests/checkers/unittest_imports.py
  tests/config/pylint_config/test_pylint_config_generate.py
  tests/config/test_per_directory_config.py
  tests/test_pylint_runners.py
Owners: none

[test] Use an empty pylintrc so tests to not depend on system's conf (#8350)
  tests/checkers/unittest_imports.py
  tests/config/pylint_config/test_pylint_config_generate.py
  tests/config/test_per_directory_config.py
  tests/test_pylint_runners.py
Owners: none

update dockerfile to python:3.10.10-alpine3.17
  Dockerfile
Owners: none

Prevent emitting ``invalid-name`` on 'global' redefinition (#8337)
  doc/whatsnew/fragments/8307.bugfix
  pylint/checkers/base/name_checker/checker.py
  tests/functional/g/globals.py
  tests/functional/g/globals.txt
  tests/functional/n/name/name_styles.py
  tests/functional/n/name/name_styles.txt
Owners: none

Prevent emitting ``invalid-name`` on 'global' redefinition (#8337)
  doc/whatsnew/fragments/8307.bugfix
  pylint/checkers/base/name_checker/checker.py
  tests/functional/g/globals.py
  tests/functional/g/globals.txt
  tests/functional/n/name/name_styles.py
  tests/functional/n/name/name_styles.txt
Owners: none

Adding changes
  pylint/checkers/base/basic_checker.py
  pylint/checkers/base/docstring_checker.py
  pylint/checkers/base_checker.py
  pylint/checkers/classes/class_checker.py
  pylint/checkers/classes/special_methods_checker.py
  setup.cfg
Owners: none

Adding more fixes
  pylint/checkers/modified_iterating_checker.py
  pylint/checkers/similar.py
Owners: none

Merge more changes to fix flake8's length
  pylint/checkers/stdlib.py
  pylint/checkers/utils.py
  pylint/config/arguments_manager.py
  pylint/config/arguments_provider.py
  pylint/extensions/confusing_elif.py
  pylint/extensions/magic_value.py
  pylint/extensions/typing.py
  pylint/lint/run.py
Owners: @cdce8p

Fix code
  pylint/reporters/text.py
Owners: none

Prevent emitting ``invalid-name`` on 'global' redefinition (#8337) (#8354)
  doc/whatsnew/fragments/8307.bugfix
  pylint/checkers/base/name_checker/checker.py
  tests/functional/g/globals.py
  tests/functional/g/globals.txt
  tests/functional/n/name/name_styles.py
  tests/functional/n/name/name_styles.txt
Owners: none

Fixing lines for length and format strings
  pylint/checkers/utils.py
  pylint/reporters/text.py
  pylint/testutils/_primer/primer_compare_command.py
  pylint/testutils/lint_module_test.py
Owners: none

First fix when switching to 103
  pylint/checkers/__init__.py
  pylint/checkers/base/name_checker/checker.py
  pylint/checkers/base_checker.py
  pylint/checkers/classes/class_checker.py
  pylint/checkers/design_analysis.py
  pylint/checkers/method_args.py
  pylint/checkers/modified_iterating_checker.py
  pylint/checkers/non_ascii_names.py
  setup.cfg
Owners: none

Second fix for switching to 103
  pylint/checkers/refactoring/refactoring_checker.py
  pylint/checkers/similar.py
  pylint/checkers/stdlib.py
  pylint/checkers/utils.py
  pylint/checkers/variables.py
  pylint/config/arguments_provider.py
  pylint/epylint.py
  pylint/extensions/confusing_elif.py
  pylint/extensions/for_any_all.py
  pylint/extensions/overlapping_exceptions.py
  pylint/lint/base_options.py
  pylint/lint/message_state_handler.py
  pylint/message/message.py
Owners: @pierre-sassoulas

Merge changes
  pylint/checkers/utils.py
  pylint/config/callback_actions.py
  pylint/pyreverse/dot_printer.py
  pylint/testutils/pyreverse.py
  pylint/testutils/reporter_for_tests.py
Owners: @DudeNr33

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Right now there is not default owner to avoid spam
# * @pierre-sassoulas @DanielNoord @cdce8p @jacobtylerwalls @hippo91

# Order is important. The last matching pattern has the most precedence.

### Core components

# internal message handling
pylint/message/*    @pierre-sassoulas
tests/message/*    @pierre-sassoulas

# typing
pylint/typing.py     @DanielNoord

# multiprocessing (doublethefish is not yet a contributor with write access)
# pylint/lint/parallel.py @doublethefish
# tests/test_check_parallel.py @doublethefish

### Pyreverse
pylint/pyreverse/*    @DudeNr33
tests/pyreverse/*    @DudeNr33

### Extensions

# CodeStyle
pylint/extensions/code_style.* @cdce8p
tests/functional/ext/code_style/* @cdce8p

# Typing
pylint/extensions/typing.* @cdce8p
tests/functional/ext/typing/* @cdce8p
