Repository pylint-dev/pylint, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pierre-sassoulas, @DanielNoord, @DudeNr33, @cdce8p

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Right now there is not default owner to avoid spam
# * @pierre-sassoulas @DanielNoord @cdce8p @jacobtylerwalls @hippo91

# Order is important. The last matching pattern has the most precedence.

### Core components

# internal message handling
pylint/message/*    @pierre-sassoulas
tests/message/*    @pierre-sassoulas

# typing
pylint/typing.py     @DanielNoord

# multiprocessing (doublethefish is not yet a contributor with write access)
# pylint/lint/parallel.py @doublethefish
# tests/test_check_parallel.py @doublethefish

### Pyreverse
pylint/pyreverse/*    @DudeNr33
tests/pyreverse/*    @DudeNr33

### Extensions

# CodeStyle
pylint/extensions/code_style.* @cdce8p
tests/functional/ext/code_style/* @cdce8p

# Typing
pylint/extensions/typing.* @cdce8p
tests/functional/ext/typing/* @cdce8p

Add ``--version`` option to pyreverse (#8257)
  doc/whatsnew/fragments/7851.feature
  pylint/pyreverse/main.py
  tests/pyreverse/test_main.py
Owners: @DudeNr33

Add ``--version`` option to pyreverse (#8257)
  doc/whatsnew/fragments/7851.feature
  pylint/pyreverse/main.py
  tests/pyreverse/test_main.py
Owners: @DudeNr33

use property-decorators for no-name
  doc/user_guide/configuration/all-options.rst
  doc/whatsnew/fragments/1127.false_positive
  pylint/checkers/base/name_checker/checker.py
  pylint/checkers/typecheck.py
  pylint/checkers/utils.py
  pylint/lint/base_options.py
  tests/functional/n/no/no_member_property_decorator.py
  tests/functional/n/no/no_member_property_decorator.rc
Owners: none

update docs and code according to review
  doc/data/messages/i/invalid-name/details.rst
  doc/data/messages/n/no-member/details.rst
  doc/user_guide/configuration/all-options.rst
  doc/whatsnew/fragments/1127.false_positive
  doc/whatsnew/fragments/1127.feature
  pylint/checkers/base/name_checker/checker.py
  pylint/checkers/utils.py
  pylint/lint/base_options.py
Owners: none

remove breakpoint()
  pylint/checkers/base/name_checker/checker.py
Owners: none

update from review
  doc/data/messages/i/invalid-name/details.rst
  doc/user_guide/configuration/all-options.rst
  pylint/checkers/base/name_checker/checker.py
  pylint/checkers/utils.py
  pylint/lint/base_options.py
  tests/functional/n/no/no_member_property_decorator.py
Owners: none

update 2.2.16 index
  doc/whatsnew/2/2.16/index.rst
Owners: none

Cut extra quotes
  tests/functional/ext/typing/redundant_typehint_argument.py
  tests/functional/ext/typing/redundant_typehint_argument_py310.py
Owners: @cdce8p

Add version check
  pylint/checkers/typecheck.py
Owners: none

Add comment
  tests/functional/u/undefined/undefined_variable_py38.py
Owners: none

Update functional output
  tests/functional/u/undefined/undefined_variable_py38.txt
Owners: none

Fix FP for used-before-assignment with assignment expressions in containers (#8253)
  doc/whatsnew/fragments/8252.false_positive
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable_py38.py
  tests/functional/u/undefined/undefined_variable_py38.txt
Owners: none

Fix FP for used-before-assignment with assignment expressions in containers (#8253)
  doc/whatsnew/fragments/8252.false_positive
  pylint/checkers/variables.py
  tests/functional/u/undefined/undefined_variable_py38.py
  tests/functional/u/undefined/undefined_variable_py38.txt
Owners: none

[typing] Use __future__ annotations where possible
  doc/exts/pylint_messages.py
  doc/test_messages_documentation.py
  examples/custom.py
  examples/custom_raw.py
  pylint/checkers/classes/class_checker.py
Owners: none

[typing] Use __future__ annotations where possible (#8264)
  doc/exts/pylint_messages.py
  doc/test_messages_documentation.py
  examples/custom.py
  examples/custom_raw.py
  pylint/checkers/classes/class_checker.py
Owners: none

doc unexpected-line-ending-format
  .gitattributes
  doc/data/messages/u/unexpected-line-ending-format/bad.py
  doc/data/messages/u/unexpected-line-ending-format/details.rst
  doc/data/messages/u/unexpected-line-ending-format/good.py
  doc/data/messages/u/unexpected-line-ending-format/pylintrc
  doc/data/messages/u/unexpected-line-ending-format/related.rst
Owners: none

Define PY310_PLUS in constants
  pylint/checkers/typecheck.py
  pylint/constants.py
Owners: none

Stage code
  doc/data/messages/i/invalid-character-carriage-return/bad.py
  doc/data/messages/i/invalid-character-carriage-return/details.rst
  doc/data/messages/i/invalid-character-carriage-return/good.py
Owners: none

Fixing error
  doc/data/messages/i/invalid-character-carriage-return/good.py
Owners: none

Doc for 'unexpected-line-ending-format' (#8255)
  .gitattributes
  doc/data/messages/u/unexpected-line-ending-format/bad.py
  doc/data/messages/u/unexpected-line-ending-format/details.rst
  doc/data/messages/u/unexpected-line-ending-format/good.py
  doc/data/messages/u/unexpected-line-ending-format/pylintrc
  doc/data/messages/u/unexpected-line-ending-format/related.rst
Owners: none

Add error for duplicate-string-formatting-argument
  doc/data/messages/d/duplicate-string-formatting-argument/bad.py
  doc/data/messages/d/duplicate-string-formatting-argument/details.rst
  doc/data/messages/d/duplicate-string-formatting-argument/good.py
Owners: none

Removing unnecessary pylint errors
  doc/data/messages/i/invalid-character-carriage-return/bad.py
Owners: none

Adding disable = back
  doc/data/messages/i/invalid-character-carriage-return/bad.py
Owners: none

Add regression test for #8109
  tests/functional/r/regression_02/regression_8109.py
  tests/functional/r/regression_02/regression_8109.txt
Owners: none

Upgrade astroid to 2.14.2
  pyproject.toml
  requirements_test_min.txt
Owners: none

Adding bidirectional unicode
  doc/data/messages/b/bidirectional-unicode/bad.py
  doc/data/messages/b/bidirectional-unicode/details.rst
  doc/data/messages/b/bidirectional-unicode/good.py
Owners: none

Apply suggestions from code review
  doc/data/messages/d/duplicate-string-formatting-argument/bad.py
  doc/data/messages/d/duplicate-string-formatting-argument/good.py
Owners: none

Add documentation for duplicate-string-formatting-argument and bidirectional-unicode (#8269)
  doc/data/messages/b/bidirectional-unicode/bad.py
  doc/data/messages/b/bidirectional-unicode/details.rst
  doc/data/messages/b/bidirectional-unicode/good.py
  doc/data/messages/d/duplicate-string-formatting-argument/bad.py
  doc/data/messages/d/duplicate-string-formatting-argument/details.rst
  doc/data/messages/d/duplicate-string-formatting-argument/good.py
Owners: none

Removing unnecessary string
  doc/data/messages/d/duplicate-string-formatting-argument/good.py
Owners: none

Add regression test for #8109
  tests/functional/r/regression_02/regression_8109.py
  tests/functional/r/regression_02/regression_8109.txt
Owners: none

Upgrade astroid to 2.14.2
  pyproject.toml
  requirements_test_min.txt
Owners: none

Upgrade astroid to 2.14.2
  pyproject.toml
  requirements_test_min.txt
Owners: none

Fix ``duplicate-string-formatting-argument`` comment mistakenly left in good.py (#8270)
  doc/data/messages/d/duplicate-string-formatting-argument/good.py
Owners: none

Bump pylint to 2.16.2, update changelog
  doc/whatsnew/2/2.16/index.rst
  doc/whatsnew/fragments/7574.false_positive
  doc/whatsnew/fragments/7851.feature
  doc/whatsnew/fragments/8125.bugfix
  doc/whatsnew/fragments/8148.bugfix
  doc/whatsnew/fragments/8168.bugfix
  doc/whatsnew/fragments/8207.bugfix
  doc/whatsnew/fragments/8252.false_positive
  pylint/__pkginfo__.py
  tbump.toml
  towncrier.toml
Owners: none

pre'commit
  .pre-commit-config.yaml
Owners: none

Bump pylint to 2.16.2, update changelog (#8276)
  doc/whatsnew/2/2.16/index.rst
  doc/whatsnew/fragments/7574.false_positive
  doc/whatsnew/fragments/7851.feature
  doc/whatsnew/fragments/8125.bugfix
  doc/whatsnew/fragments/8148.bugfix
  doc/whatsnew/fragments/8168.bugfix
  doc/whatsnew/fragments/8207.bugfix
  doc/whatsnew/fragments/8252.false_positive
  pylint/__pkginfo__.py
  tbump.toml
  towncrier.toml
Owners: none

Add consier-alternative-union-syntax and consider-using-namedtuple-or-dataclass
  doc/data/messages/c/consider-alternative-union-syntax/bad.py
  doc/data/messages/c/consider-alternative-union-syntax/details.rst
  doc/data/messages/c/consider-alternative-union-syntax/good.py
  doc/data/messages/c/consider-alternative-union-syntax/pylintrc
  doc/data/messages/c/consider-using-namedtuple-or-dataclass/bad.py
  doc/data/messages/c/consider-using-namedtuple-or-dataclass/details.rst
  doc/data/messages/c/consider-using-namedtuple-or-dataclass/good.py
  doc/data/messages/c/consider-using-namedtuple-or-dataclass/pylintrc
Owners: none

Fix consider-using-alias bad
  doc/data/messages/c/consider-using-alias/bad.py
  doc/data/messages/c/consider-using-alias/pylintrc
Owners: none

Add some changes
  doc/data/messages/c/consider-using-alias/bad.py
  doc/data/messages/c/consider-using-alias/good.py
  doc/data/messages/c/consider-using-namedtuple-or-dataclass/bad.py
  doc/data/messages/c/consider-using-namedtuple-or-dataclass/good.py
Owners: none

Add consider-using-alias
  doc/data/messages/c/consider-alternative-union-syntax/bad.py
  doc/data/messages/c/consider-alternative-union-syntax/good.py
  doc/data/messages/c/consider-using-alias/bad.py
  doc/data/messages/c/consider-using-alias/details.rst
  doc/data/messages/c/consider-using-alias/good.py
  doc/data/messages/c/consider-using-alias/pylintrc
  doc/data/messages/c/consider-using-namedtuple-or-dataclass/bad.py
  doc/data/messages/c/consider-using-namedtuple-or-dataclass/good.py
  doc/data/messages/c/consider-using-namedtuple-or-dataclass/pylintrc
Owners: none
