Repository pylint-dev/pylint, pull requests merged in 2023-12, with the labels that each got.

#9211 [bugfix] Find files with ./ as input with a __init__.py file
  doc/whatsnew/fragments/9210.bugfix
  pylint/lint/expand_modules.py
  tests/lint/unittest_expand_modules.py
Labels: Bug :beetle:, backport maintenance/3.0.x

#9269 [pointless-string-statement] Ignore docstrings on py3.12 type aliases
  doc/data/messages/p/pointless-string-statement/related.rst
  doc/whatsnew/fragments/9268.false_positive
  pylint/checkers/base/basic_checker.py
  tests/functional/s/statement_without_effect_py312.py
  tests/functional/s/statement_without_effect_py312.rc
Labels: False Positive 🦟, python 3.12, backport maintenance/3.0.x

#9289 [wrong-exception-operation] Fix FP for tuple concatenation of exception types
  doc/whatsnew/fragments/9288.false_positive
  pylint/checkers/exceptions.py
  tests/functional/w/wrong_exception_operation.py
  tests/functional/w/wrong_exception_operation.txt
Labels: False Positive 🦟, backport maintenance/3.0.x

#9290 Disallow isort 5.13.0
  pyproject.toml
Labels: Skip news :mute:, backport maintenance/3.0.x

#9293 Bump pylint to 3.0.3, update changelog
  doc/whatsnew/3/3.0/index.rst
  doc/whatsnew/fragments/9148.false_positive
  doc/whatsnew/fragments/9172.false_positive
  doc/whatsnew/fragments/9193.false_positive
  doc/whatsnew/fragments/9210.bugfix
  doc/whatsnew/fragments/9268.false_positive
  doc/whatsnew/fragments/9288.false_positive
  pylint/__pkginfo__.py
  tbump.toml
  towncrier.toml
Labels: Maintenance

#9304 Bump astroid to 3.0.2
  pyproject.toml
  requirements_test_min.txt
Labels: Maintenance, Skip news :mute:

#9278 Reserve 'too-many-positional' / 'R0917' for later use
  doc/data/messages/t/too-many-positional/details.rst
  doc/data/messages/t/too-many-positional/related.rst
  doc/user_guide/checkers/features.rst
  doc/user_guide/messages/messages_overview.rst
  pylint/checkers/design_analysis.py
Labels: Maintenance, Skip news :mute:

#9325 Fix uploading of commit string artifact
  .github/workflows/primer_run_main.yaml
Labels: primer, Skip news :mute:

#9326 [primer] Use short python version on main output steps
  .github/workflows/primer_run_main.yaml
Labels: primer, Skip news :mute:

#9327 Use short python version (X.Y) in primer output
  pylint/testutils/_primer/primer_run_command.py
Labels: primer, Skip news :mute:

#9330 Add compatibility with actions/download-artifact v4
  .github/workflows/primer_comment.yaml
  .github/workflows/primer_run_pr.yaml
Labels: primer, Skip news :mute:

#9331 Fix compare output step
  .github/workflows/primer_comment.yaml
Labels: primer, Skip news :mute:

#9333 Check for all set-length-modifying methods in modified-iterating-set (close #9334)
  doc/whatsnew/fragments/9334.feature
  pylint/checkers/modified_iterating_checker.py
  tests/functional/m/modified_iterating.py
  tests/functional/m/modified_iterating.txt
Labels: Enhancement ✨

#9336 Fix primer compare step (again)
  .github/workflows/primer_comment.yaml
Labels: primer, Skip news :mute:

#9323 Fixed false positive nested-min-max for nested lists
  doc/whatsnew/fragments/9307.false_positive
  pylint/checkers/nested_min_max.py
  tests/functional/n/nested_min_max.py
  tests/functional/n/nested_min_max.txt
Labels: Bug :beetle:, backport maintenance/3.0.x
